.about-container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .about-container h1 {
    font-size: 2.5rem;
    color: #dfdf07;
    margin-bottom: 15px;
  }
  
  .about-container h2 {
    font-size: 2rem;
    color: #555;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .about-container p {
    font-size: 1.1rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .about-container ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
  }
  
  .about-container ul li {
    font-size: 1.1rem;
    color: #444;
    background: #e3f2fd;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  